/* rem and em do NOT depend on HTML fontsize in media quaries!. I rem = em = 16px */

/********************  */
/* Below 1344px (smaller desktops)  */
/********************  */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 75em) {
}
